/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass";
@import "variable";
@import "compass/css3/transform";
@import "compass/css3";
@import "compass/utilities/color/contrast";
@import "compass/css3/user-interface";

/********************************** 兼容 **********************************/
.pf {
  position: fixed;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
body{
  font-family: "微软雅黑";

}
          .head{
            background:  #0071bc;
                width: 100%; /* 0071bc*//*28a9e1*/
            @include background-image(radial-gradient(45px  14px, #28a9e1   10px,#0071bc 200px));
           @include rh(128);

     position: relative;
               .top-a-btn{
                 position: absolute;
                 @include rpb(20);
                 @include rpl(20);
                 @include rw(17);
                 @include rh(28);
                 cursor: pointer;
                 background: url("../images/left-btn-a.png") no-repeat 0 0;
                  @include background-size(contain);
                 }
                .my-care{
                  @include rfs(36);
                  @include rlh(40);
                  @include rh(40);
                 width: 100%;
                  text-align: center;
                  position: absolute;
                  @include rpb(20);
                  left: 0;
                  color: white;   

                }
          } //头部结束
                .content-bg{
                      background: #f1f1f1;
                      width:100% ;
                  @include rh(1200);

                  .money-found{
                        @include rfs(32);
                        color: #333333;
                        @include rpb(20);
                        @include rlh(70);
                        @include rh(70);
                        text-indent:0.75rem;
                        font-weight: bold;


                      }
                      .money-found-head{
                        width: 100%;
                        border-bottom: 6px solid #e8e8e8;
                        @include rh(80);
                        @include rlh(80);
                        @include rfs(28);
                        color: #333333;
                        background: white;
                          @include display-flex;

                        .name{
                        @include flex(1);
                          text-indent: 0.7rem;
                          color: #333333;

                        }
                      }

                      .money-found-content1{
                        width: 100%;
                        background: white;
                        @include display-flex;
                        @include justify-content(center);

                        .position-center{
                          color: #333333;
                       @include rw(690);
                          border-bottom: 2px solid #e8e8e8;
                          @include display-flex;
                               .flex1{ color: #333333;
                                /* text-indent: 0.7rem;*/
                                 @include flex(1);
                                 @include rh(106);
                                 .name-title{
                                   @include rfs(32);
                                   @include rlh(46);

                                   @include rmt(15);


                                 }
                                 .name-title-number{
                                   color: #666;
                                   @include rlh(46);
                                   @include rfs(36);
                                   @include rmt(15);
                                 }
                                 .name-number{
                                   @include rlh(32);
                                   @include rfs(24);

                                   @include rpb(20);

                                   color: #a5a5a5;




                                 }
                                 .name-title{
                                   @include rlh(46);
                                   color: #333333;
                                 }
                                 .font-red-big{
                                color: #f4878b;
                                   @include rlh(84);
                                   @include rfs(36);
                                   text-align: center;

                                 }
                                 .loss{
                                   color: #8cc63f;
                                 }
                               }
                        }
                      }


                }  //f1背景结束 内容盒子


    /*   基金公告    */ /*   基金公告    */ /*   基金公告    */
.pdf-title{
          width: 100%;
       @include rh(146);
     background: #fcfbf9;
   @include display-flex;
   @include justify-content(center);
   @include align-items(center);
      .center-box1{
        @include rw(690);
        @include rh(76);


        .left{
          @include rw(522);
          @include rh(76);
          @include rfs(20);
         .radios-green{
           display: inline-block;
           @include rw(36);
           @include rh(36);
           background: #2d3091;
           @include border-radius(50%);
           color: white;

         }
              }
              .right{
                @include rw(155);
                @include rh(76);
              }
      }

}

    /*   基金公告    */ /*   基金公告    */ /*   基金公告    */

